<head>
    <header>
    <link rel="stylesheet" type="text/css" href="./header.component.css">
</header>

<div class="banner"> 
    <img src="//argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1674868095/Dise%C3%B1o%20sin%20t%C3%ADtulo%20%2817%29.png" alt="argpprod">
        <button>Login</button>
</div>
</head>
<body> 
    <section> 
        <div class="background-banner"></div>      
     <div class="circular-image">
        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="photo-perfil">
      </div>   
      <div class="background-perfil"></div>    
    </section>
 </body>
